<section [ngClass]="{'loading': !taskList.length}">
    
    <!--só vai aparecer se tiver algum item na lista-->
    <ul *ngIf="taskList.length">
        <li *ngFor="let item of taskList; let i = index">
            <input type="checkbox" [(ngModel)]="item.checked">
            <input type="text" (keyup)="validationInput(item.task, i)" [(ngModel)]="item.task" [ngClass]="{'checked': item.checked}">

            <button (click)="deleteItemTaskList(i)">
                <img src="./../../../../../assets/icons/icon-trash (2).svg" alt="">
            </button>

        </li>
    </ul>
</section>
<app-todo-input-add-itens (emitItemTaskList)="setEmitTaskList($event)"></app-todo-input-add-itens>

<!--botão só aparece se a lista estiver com algum ítem-->
<app-todo-button-delete-all *ngIf="taskList.length" (click)="deleteAllTaskList()"></app-todo-button-delete-all>